{% extends 'common/base.html' %}

{% load static %}
{% load month_nav %}


{% block title %}Budget: {{ current_year_month|date:'F Y' }}{% endblock %}
{% block css %}
<link href="{% static 'budget/css/budget.css' %}" rel="stylesheet">
{% endblock %}

{% block body_css %}budget detail{% endblock %}

{% block content %}

{% include 'common/nav-primary.html' %}
{% include 'budget/nav.html' %}

<div class="container">
    <h1>{{ current_year_month|date:'F Y' }}</h1>

    <form>
        <select name="year" id="year-select">
            {% for year in year_list %}
            <option {% if current_year_month.year == year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
        <select name="month" id="month-select">
            {% for month in month_list %}
            <option {% if current_year_month.month == month %}selected{% endif %}>{{ month|stringformat:"02d" }}</option>
            {% endfor %}
        </select>

        <button id="month-select-button">Change</button>
    </form>

    <div class="month-nav">
        {% prev_month current_year_month as prev_year_month %}
        <a href="{% url 'budget-month-detail' prev_year_month %}">Previous Month</a>
        {% next_month current_year_month as next_year_month %}
        <a href="{% url 'budget-month-detail' next_year_month %}">Next Month</a>
    </div>

    <p>Month Total: {{ month_data.month_total }}</p>

    <div class="categories">
        {% for item_type in month_data.item_types %}
        <div class="category">
            <h2>{{ item_type.name }}</h2>
            <p><b>{{ item_type.sum }}</b></p>
            {% for item in item_type.items %}
            <p><a href="{% url 'edit-item' item.id %}">{{ item.amount }}</a></p>
            {% endfor %}

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
document.getElementById('month-select-button').addEventListener('click', (e) => {
    e.preventDefault();

    let selectedYear = document.getElementById('year-select').value;
    let selectedMonth = document.getElementById('month-select').value;


    location.href = `/budget/month/${selectedYear}-${selectedMonth}`
})
</script>
{% endblock %}