


{% extends 'common/base.html' %}

{% load static %}

{% block title %}Episode Tracker{% endblock %}
{% block css %}
<link href="{% static 'episodetracker/css/episodetracker.css' %}" rel="stylesheet">
{% endblock %}

{% block body_css %}{% endblock %}

{% block content %}
{% csrf_token %}
{% include 'common/nav-primary.html' %}
<div id="container" class="container">

</div>

<div class="container">
  <input type="text" name="series" id="series">
  <button id="addSeries">Add</button>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'episodetracker/js/episodetracker.js' %}"></script>
{% endblock %}