:root {
    --primary-color: rgb(24, 34, 63);
    --secondary-color: rgb(49, 69, 128);
}
  

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav {
    margin: 0px;
    height: 32px;
    display: flex;
    align-items: center;
}

nav.primary {
    background-color: var(--primary-color);
}
nav.secondary {
    background-color: var(--secondary-color);
}


nav ul {
    margin: 0px;
    padding: 0 0 0 10px;

    display: flex;
    flex-direction: row;

}

nav ul li {

    list-style-type: none;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}


input[type='submit'], button {
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: white;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
body .container {
    padding: 10px;
}